{% load static %}

<!DOCTYPE html>
<html lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">


<title>LOL信息分析</title>
<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<link rel="stylesheet" type="text/css" href="{% static 'css/materialdesignicons.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
</head>

<body>
<!--页面loading-->
<div id="lyear-preloader" class="loading">
  <div class="ctn-preloader">
    <div class="round_spinner">
      <div class="spinner"></div>
{#      <img src="images/loading-logo.png" alt="">#}
    </div>
  </div>
</div>
<!--页面loading end-->
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    <!--左侧导航-->
    <aside class="lyear-layout-sidebar">

      <!-- logo -->
      <div id="logo" class="sidebar-header">
        <a href="{% url 'index' %}"><img src="https://game.gtimg.cn/images/lol/act/img/spell/EliseHumanW.png" title="LightYear" alt="LightYear" /></a>
      </div>
      <div class="lyear-layout-sidebar-info lyear-scroll">

        <nav class="sidebar-main">

          <ul class="nav-drawer">
            <li class="nav-item active">
              <a href="{% url 'index' %}">
                <i class="mdi mdi-home-city-outline"></i>
                <span>后台首页</span>
              </a>
            </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)">
                <i class="mdi mdi-television-guide"></i>
                <span>英雄胜率总览</span>
              </a>
              <ul class="nav nav-subnav">
                <li> <a href="{% url 'ranked_solo' %}">排位赛</a> </li>
                <li> <a href="{% url 'aram' %}">极地大乱斗</a> </li>
              </ul>
            </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)">
                <i class="mdi mdi-silo"></i>
                <span>各位置最强英雄</span>
              </a>
              <ul class="nav nav-subnav">
                <li> <a href="{% url 'top' %}">上路</a> </li>
                <li> <a href="{% url 'middle' %}">中路</a> </li>
                <li> <a href="{% url 'bottom' %}">下路</a> </li>
                  <li> <a href="{% url 'jungle' %}">打野</a> </li>
                <li> <a href="{% url 'support' %}">辅助</a> </li>
              </ul>
            </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)">
                <i class="mdi mdi-map-outline"></i>
                <span>组建你的最佳阵容</span>
              </a>
              <ul class="nav nav-subnav">
                <li> <a href="{% url 'bestteam_normal' %}">召唤师峡谷</a> </li>
                <li> <a href="{% url 'bestteam_aram' %}">极地大乱斗</a> </li>


              </ul>
            </li>
            <li class="nav-item nav-item-has-subnav">
              <a href="javascript:void(0)">
                <i class="mdi mdi-tune"></i>
                <span>相关数据总览</span>
              </a>

            </li>





          </ul>
        </nav>

{#        <div class="sidebar-footer">#}
{#          <p class="copyright">#}
{#            <span>Copyright &copy; 2022. </span>#}
{#            <a target="_blank" href="http://www.bixiaguangnian.com">笔下光年</a>#}
{#            <span> All rights reserved.</span>#}
{#          </p>#}
{#        </div>#}
      </div>

    </aside>
    <!--End 左侧导航-->

    <!--头部信息-->
    <header class="lyear-layout-header">

      <nav class="navbar">

        <div class="navbar-left">
          <div class="lyear-aside-toggler">
            <span class="lyear-toggler-bar"></span>
            <span class="lyear-toggler-bar"></span>
            <span class="lyear-toggler-bar"></span>
          </div>
        </div>

        <ul class="navbar-right d-flex align-items-center">

          <!--切换主题配色-->
		  <li class="dropdown dropdown-skin">
		    <span data-bs-toggle="dropdown" class="icon-item">
              <i class="mdi mdi-palette fs-5"></i>
            </span>
			<ul class="dropdown-menu dropdown-menu-end" data-stopPropagation="true">
              <li class="lyear-skin-title"><p>主题</p></li>
              <li class="lyear-skin-li clearfix">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="site_theme" id="site_theme_1" value="default" checked="checked">
                  <label class="form-check-label" for="site_theme_1"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="site_theme" id="site_theme_2" value="translucent-green">
                  <label class="form-check-label" for="site_theme_2"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="site_theme" id="site_theme_3" value="translucent-blue">
                  <label class="form-check-label" for="site_theme_3"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="site_theme" id="site_theme_4" value="translucent-yellow">
                  <label class="form-check-label" for="site_theme_4"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="site_theme" id="site_theme_5" value="translucent-red">
                  <label class="form-check-label" for="site_theme_5"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="site_theme" id="site_theme_6" value="translucent-pink">
                  <label class="form-check-label" for="site_theme_6"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="site_theme" id="site_theme_7" value="translucent-cyan">
                  <label class="form-check-label" for="site_theme_7"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="site_theme" id="site_theme_8" value="dark">
                  <label class="form-check-label" for="site_theme_8"></label>
                </div>
              </li>
			  <li class="lyear-skin-title"><p>LOGO</p></li>
			  <li class="lyear-skin-li clearfix">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_1" value="default" checked="checked">
                  <label class="form-check-label" for="logo_bg_1"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_2" value="color_2">
                  <label class="form-check-label" for="logo_bg_2"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_3" value="color_3">
                  <label class="form-check-label" for="logo_bg_3"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_4" value="color_4">
                  <label class="form-check-label" for="logo_bg_4"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_5" value="color_5">
                  <label class="form-check-label" for="logo_bg_5"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_6" value="color_6">
                  <label class="form-check-label" for="logo_bg_6"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_7" value="color_7">
                  <label class="form-check-label" for="logo_bg_7"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_8" value="color_8">
                  <label class="form-check-label" for="logo_bg_8"></label>
                </div>
			  </li>
			  <li class="lyear-skin-title"><p>头部</p></li>
			  <li class="lyear-skin-li clearfix">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="header_bg" id="header_bg_1" value="default" checked="checked">
                  <label class="form-check-label" for="header_bg_1"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="header_bg" id="header_bg_2" value="color_2">
                  <label class="form-check-label" for="header_bg_2"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="header_bg" id="header_bg_3" value="color_3">
                  <label class="form-check-label" for="header_bg_3"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="header_bg" id="header_bg_4" value="color_4">
                  <label class="form-check-label" for="header_bg_4"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="header_bg" id="header_bg_5" value="color_5">
                  <label class="form-check-label" for="header_bg_5"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="header_bg" id="header_bg_6" value="color_6">
                  <label class="form-check-label" for="header_bg_6"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="header_bg" id="header_bg_7" value="color_7">
                  <label class="form-check-label" for="header_bg_7"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="header_bg" id="header_bg_8" value="color_8">
                  <label class="form-check-label" for="header_bg_8"></label>
                </div>
			  </li>
			  <li class="lyear-skin-title"><p>侧边栏</p></li>
			  <li class="lyear-skin-li clearfix">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_1" value="default" checked="checked">
                  <label class="form-check-label" for="sidebar_bg_1"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_2" value="color_2">
                  <label class="form-check-label" for="sidebar_bg_2"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_3" value="color_3">
                  <label class="form-check-label" for="sidebar_bg_3"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_4" value="color_4">
                  <label class="form-check-label" for="sidebar_bg_4"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_5" value="color_5">
                  <label class="form-check-label" for="sidebar_bg_5"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_6" value="color_6">
                  <label class="form-check-label" for="sidebar_bg_6"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_7" value="color_7">
                  <label class="form-check-label" for="sidebar_bg_7"></label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_8" value="color_8">
                  <label class="form-check-label" for="sidebar_bg_8"></label>
                </div>
			  </li>
		    </ul>
		  </li>
          <!--End 切换主题配色-->
{#          <!--个人头像内容-->#}
{#          <li class="dropdown">#}
{#            <a href="javascript:void(0)" data-bs-toggle="dropdown" class="dropdown-toggle">#}
{#              <img class="avatar-md rounded-circle" src="images/users/avatar.jpg" alt="笔下光年" />#}
{#              <span style="margin-left: 10px;">笔下光年</span>#}
{#            </a>#}
{#            <ul class="dropdown-menu dropdown-menu-end">#}
{#              <li>#}
{#                <a class="dropdown-item" href="lyear_pages_profile.html"#}
{#                  href="javascript:void(0)">#}
{#                  <i class="mdi mdi-account"></i>#}
{#                  <span>个人信息</span>#}
{#                </a>#}
{#              </li>#}
{#              <li>#}
{#                <a class="dropdown-item" href="lyear_pages_edit_pwd.html"#}
{#                  href="javascript:void(0)">#}
{#                  <i class="mdi mdi-lock-outline"></i>#}
{#                  <span>修改密码</span>#}
{#                </a>#}
{#              </li>#}
{#              <li>#}
{#                <a class="dropdown-item" href="javascript:void(0)">#}
{#                  <i class="mdi mdi-delete"></i>#}
{#                  <span>清空缓存</span>#}
{#                </a>#}
{#              </li>#}
{#              <li class="dropdown-divider"></li>#}
{#              <li>#}
{#                <a class="dropdown-item" href="lyear_pages_login_1.html">#}
{#                  <i class="mdi mdi-logout-variant"></i>#}
{#                  <span>退出登录</span>#}
{#                </a>#}
{#              </li>#}
{#            </ul>#}
{#          </li>#}
          <!--End 个人头像内容-->
        </ul>

      </nav>

    </header>
    <!--End 头部信息-->

    <!--页面主要内容-->
<main class="lyear-layout-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <header class="card-header">
            <div class="card-title">表单向导</div>
          </header>
          <div class="card-body">
            <form action="{% url 'bestteam_normal' %}" method="POST" class="lyear-guide-box" data-navigateable="true">
              {% csrf_token %}
              <ul class="nav nav-step">
                <li class="nav-item">
                  <span>步骤一</span>
                  <a class="nav-link active" data-toggle="tab" href="#step-1"></a>
                </li>
                <li class="nav-item">
                  <span>步骤二</span>
                  <a class="nav-link" data-toggle="tab" href="#step-2"></a>
                </li>
                <li class="nav-item">
                  <span>步骤三</span>
                  <a class="nav-link" data-toggle="tab" href="#step-3"></a>
                </li>
                <li class="nav-item">
                  <span>步骤四</span>
                  <a class="nav-link" data-toggle="tab" href="#step-4"></a>
                </li>
              </ul>
              <div class="nav-step-content">
                <div class="nav-step-pane d-none active" id="step-1" data-provide="validation">
                  <div class="form-group">
                    <label>你想玩哪路？</label>
                    <select class="form-control" id="role" name="role" required>
                      <option value="">请选择</option>
                      <option value="上单">上路</option>
                      <option value="中单">中路</option>
                      <option value="打野">打野</option>
                      <option value="下路">射手</option>
                      <option value="辅助">辅助</option>
                    </select>
                  </div>
                </div>
                <div class="nav-step-pane d-none" id="step-2" data-provide="validation">
                  <div class="form-group">
                    <label>你是单排还是组排</label>
                    <select class="form-control" id="queue_type" name="queue_type" required>
                      <option value="">请选择</option>
                      <option value="solo">单排</option>
                      <option value="team">组排</option>
                    </select>
                  </div>
                </div>
                <div class="nav-step-pane d-none" id="step-3" data-provide="validation">
                  <div class="form-group">
                    <label>你的段位</label>
                    <select class="form-control" id="tier" name="tier" required>
                      <option value="">请选择</option>
                      <option value="iron">坚韧黑铁</option>
                      <option value="bronze">英勇黄铜</option>
                      <option value="silver">不屈白银</option>
                      <option value="gold">荣耀黄金</option>
                      <option value="platinum">华贵铂金</option>
                      <option value="emerald">流光翡翠</option>
                      <option value="diamond">璀璨钻石</option>
                      <option value="master">超凡大师</option>
                      <option value="grandmaster">傲世宗师</option>
                      <option value="challenger">最强王者</option>
                    </select>
                  </div>
                </div>
                <div class="nav-step-pane d-none" id="step-4">
                  <div class="form-group">
                    <label>你自认为操作如何</label>
                    <select class="form-control" id="remark" name="remark">
                      <option value="">请选择</option>
                      <option value="糕手">糕手</option>
                      <option value="高手">高手</option>
                    </select>
                  </div>
                </div>
              </div>
              <hr>
              <div class="d-flex justify-content-between">
                <button class="btn btn-secondary disabled" data-wizard="prev" type="button">上一步</button>
                <button class="btn btn-secondary" data-wizard="next" type="button">下一步</button>
                <button class="btn btn-primary d-none" data-wizard="finish">完成</button>
              </div>

                <div id="resultContainer" class="mt-4"></div>


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- Bootstrap Modal -->
<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resultModalLabel">胜率最高的英雄</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
                <!-- Heroes will be dynamically inserted here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>



    <!--End 页面主要内容-->
  </div>
</div>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/perfect-scrollbar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.cookie.min.js' %}"></script>
<!--引入chart插件js-->
<script type="text/javascript" src="{% static 'js/chart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
  // Step navigation
  const $steps = $('.nav-step-pane');
  const $nextBtn = $('[data-wizard="next"]');
  const $prevBtn = $('[data-wizard="prev"]');
  const $finishBtn = $('[data-wizard="finish"]');
  const $resultContainer = $('#resultContainer'); // 确保在HTML中有这个元素

  let currentStep = 0;

  function updateButtons() {
    $prevBtn.toggleClass('disabled', currentStep === 0);
    $nextBtn.toggleClass('d-none', currentStep === $steps.length - 1);
    $finishBtn.toggleClass('d-none', currentStep !== $steps.length - 1);
  }

  function showStep(stepIndex) {
    $steps.removeClass('active d-block').addClass('d-none');
    $steps.eq(stepIndex).addClass('active d-block');
    $('.nav-link').removeClass('active');
    $('.nav-link').eq(stepIndex).addClass('active');
    updateButtons();
  }

  $nextBtn.on('click', function() {
    const $currentStep = $steps.eq(currentStep);
    if ($currentStep.find(':input[required]').filter((_, el) => !el.checkValidity()).length === 0) {
      currentStep++;
      if (currentStep < $steps.length) {
        showStep(currentStep);
      }
    } else {
      alert('请填写所有必填字段。');
    }
  });

  $prevBtn.on('click', function() {
    if (currentStep > 0) {
      currentStep--;
      showStep(currentStep);
    }
  });

  $finishBtn.on('click', function(event) {
    event.preventDefault(); // 阻止默认表单提交行为
    const formData = new FormData($('form')[0]);

    // 提交表单数据
    fetch($('form').attr('action'), {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val() // 包含 CSRF 令牌
      }
    })
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
.then(data => {
  if (data.success) {
    // 使用 Bootstrap 卡片样式显示英雄名单
    const heroCards = data.heroes.map(hero => `
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">${hero}</h5>
        </div>
      </div>
    `).join('');

    $resultContainer.html(`<div class="card-columns">${heroCards}</div>`);
  } else {
    alert('查询失败，请重试。');
  }
})
    .catch((error) => {
      console.error('请求失败：', error);
      alert('请求失败，请重试。');
    });
  });

  // Initialize
  showStep(currentStep);
});




</script>
</body>
</html>
