{% load static %}

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">


    <title>LOL信息分析</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
</head>

<body>
<!--页面loading-->
<div id="lyear-preloader" class="loading">
    <div class="ctn-preloader">
        <div class="round_spinner">
            <div class="spinner"></div>
            <img src="images/loading-logo.png" alt="">
        </div>
    </div>
</div>
<!--页面loading end-->
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <aside class="lyear-layout-sidebar">

            <!-- logo -->
            <div id="logo" class="sidebar-header">
                <a href="{% url 'index' %}"><img src="https://game.gtimg.cn/images/lol/act/img/spell/EliseHumanW.png"
                                                 title="LightYear" alt="LightYear"/></a>
            </div>
            <div class="lyear-layout-sidebar-info lyear-scroll">

                <nav class="sidebar-main">

                    <ul class="nav-drawer">
                        <li class="nav-item active">
                            <a href="{% url 'index' %}">
                                <i class="mdi mdi-home-city-outline"></i>
                                <span>后台首页</span>
                            </a>
                        </li>
                        <li class="nav-item nav-item-has-subnav">
                            <a href="javascript:void(0)">
                                <i class="mdi mdi-television-guide"></i>
                                <span>英雄胜率总览</span>
                            </a>
                            <ul class="nav nav-subnav">
                                <li><a href="{% url 'ranked_solo' %}">排位赛</a></li>

                                <li><a href="{% url 'aram' %}">极地大乱斗</a></li>

                            </ul>
                        </li>
                        <li class="nav-item nav-item-has-subnav">
                            <a href="javascript:void(0)">
                                <i class="mdi mdi-silo"></i>
                                <span>各位置最强英雄</span>
                            </a>
                            <ul class="nav nav-subnav">
                                <li><a href="{% url 'top' %}">上路</a></li>
                                <li><a href="{% url 'middle' %}">中路</a></li>
                                <li><a href="{% url 'bottom' %}">下路</a></li>
                                <li><a href="{% url 'jungle' %}">打野</a></li>
                                <li><a href="{% url 'support' %}">辅助</a></li>
                            </ul>
                        </li>
                        <li class="nav-item nav-item-has-subnav">
                            <a href="javascript:void(0)">
                                <i class="mdi mdi-map-outline"></i>
                                <span>组建你的最佳阵容</span>
                            </a>
                            <ul class="nav nav-subnav">
                                <li><a href="{% url 'bestteam_normal' %}">召唤师峡谷</a></li>
                                <li><a href="{% url 'bestteam_aram' %}">极地大乱斗</a></li>


                            </ul>
                        </li>
                        <li class="nav-item nav-item-has-subnav">
                            <a href="javascript:void(0)">
                                <i class="mdi mdi-tune"></i>
                                <span>相关数据总览</span>
                            </a>

                        </li>


                    </ul>
                </nav>

                {#        <div class="sidebar-footer">#}
                {#          <p class="copyright">#}
                {#            <span>Copyright &copy; 2022. </span>#}
                {#            <a target="_blank" href="http://www.bixiaguangnian.com">笔下光年</a>#}
                {#            <span> All rights reserved.</span>#}
                {#          </p>#}
                {#        </div>#}
            </div>

        </aside>
        <!--End 左侧导航-->

        <!--头部信息-->
        <header class="lyear-layout-header">

            <nav class="navbar">

                <div class="navbar-left">
                    <div class="lyear-aside-toggler">
                        <span class="lyear-toggler-bar"></span>
                        <span class="lyear-toggler-bar"></span>
                        <span class="lyear-toggler-bar"></span>
                    </div>
                </div>

                <ul class="navbar-right d-flex align-items-center">

                    <!--切换主题配色-->
                    <li class="dropdown dropdown-skin">
		    <span data-bs-toggle="dropdown" class="icon-item">
              <i class="mdi mdi-palette fs-5"></i>
            </span>
                        <ul class="dropdown-menu dropdown-menu-end" data-stopPropagation="true">
                            <li class="lyear-skin-title"><p>主题</p></li>
                            <li class="lyear-skin-li clearfix">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="site_theme" id="site_theme_1"
                                           value="default" checked="checked">
                                    <label class="form-check-label" for="site_theme_1"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="site_theme" id="site_theme_2"
                                           value="translucent-green">
                                    <label class="form-check-label" for="site_theme_2"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="site_theme" id="site_theme_3"
                                           value="translucent-blue">
                                    <label class="form-check-label" for="site_theme_3"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="site_theme" id="site_theme_4"
                                           value="translucent-yellow">
                                    <label class="form-check-label" for="site_theme_4"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="site_theme" id="site_theme_5"
                                           value="translucent-red">
                                    <label class="form-check-label" for="site_theme_5"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="site_theme" id="site_theme_6"
                                           value="translucent-pink">
                                    <label class="form-check-label" for="site_theme_6"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="site_theme" id="site_theme_7"
                                           value="translucent-cyan">
                                    <label class="form-check-label" for="site_theme_7"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="site_theme" id="site_theme_8"
                                           value="dark">
                                    <label class="form-check-label" for="site_theme_8"></label>
                                </div>
                            </li>
                            <li class="lyear-skin-title"><p>LOGO</p></li>
                            <li class="lyear-skin-li clearfix">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_1"
                                           value="default" checked="checked">
                                    <label class="form-check-label" for="logo_bg_1"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_2"
                                           value="color_2">
                                    <label class="form-check-label" for="logo_bg_2"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_3"
                                           value="color_3">
                                    <label class="form-check-label" for="logo_bg_3"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_4"
                                           value="color_4">
                                    <label class="form-check-label" for="logo_bg_4"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_5"
                                           value="color_5">
                                    <label class="form-check-label" for="logo_bg_5"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_6"
                                           value="color_6">
                                    <label class="form-check-label" for="logo_bg_6"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_7"
                                           value="color_7">
                                    <label class="form-check-label" for="logo_bg_7"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="logo_bg" id="logo_bg_8"
                                           value="color_8">
                                    <label class="form-check-label" for="logo_bg_8"></label>
                                </div>
                            </li>
                            <li class="lyear-skin-title"><p>头部</p></li>
                            <li class="lyear-skin-li clearfix">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="header_bg" id="header_bg_1"
                                           value="default" checked="checked">
                                    <label class="form-check-label" for="header_bg_1"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="header_bg" id="header_bg_2"
                                           value="color_2">
                                    <label class="form-check-label" for="header_bg_2"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="header_bg" id="header_bg_3"
                                           value="color_3">
                                    <label class="form-check-label" for="header_bg_3"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="header_bg" id="header_bg_4"
                                           value="color_4">
                                    <label class="form-check-label" for="header_bg_4"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="header_bg" id="header_bg_5"
                                           value="color_5">
                                    <label class="form-check-label" for="header_bg_5"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="header_bg" id="header_bg_6"
                                           value="color_6">
                                    <label class="form-check-label" for="header_bg_6"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="header_bg" id="header_bg_7"
                                           value="color_7">
                                    <label class="form-check-label" for="header_bg_7"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="header_bg" id="header_bg_8"
                                           value="color_8">
                                    <label class="form-check-label" for="header_bg_8"></label>
                                </div>
                            </li>
                            <li class="lyear-skin-title"><p>侧边栏</p></li>
                            <li class="lyear-skin-li clearfix">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_1"
                                           value="default" checked="checked">
                                    <label class="form-check-label" for="sidebar_bg_1"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_2"
                                           value="color_2">
                                    <label class="form-check-label" for="sidebar_bg_2"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_3"
                                           value="color_3">
                                    <label class="form-check-label" for="sidebar_bg_3"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_4"
                                           value="color_4">
                                    <label class="form-check-label" for="sidebar_bg_4"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_5"
                                           value="color_5">
                                    <label class="form-check-label" for="sidebar_bg_5"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_6"
                                           value="color_6">
                                    <label class="form-check-label" for="sidebar_bg_6"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_7"
                                           value="color_7">
                                    <label class="form-check-label" for="sidebar_bg_7"></label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_8"
                                           value="color_8">
                                    <label class="form-check-label" for="sidebar_bg_8"></label>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--End 切换主题配色-->
                    {#          <!--个人头像内容-->#}
                    {#          <li class="dropdown">#}
                    {#            <a href="javascript:void(0)" data-bs-toggle="dropdown" class="dropdown-toggle">#}
                    {#              <img class="avatar-md rounded-circle" src="images/users/avatar.jpg" alt="笔下光年" />#}
                    {#              <span style="margin-left: 10px;">笔下光年</span>#}
                    {#            </a>#}
                    {#            <ul class="dropdown-menu dropdown-menu-end">#}
                    {#              <li>#}
                    {#                <a class="dropdown-item" href="lyear_pages_profile.html"#}
                    {#                  href="javascript:void(0)">#}
                    {#                  <i class="mdi mdi-account"></i>#}
                    {#                  <span>个人信息</span>#}
                    {#                </a>#}
                    {#              </li>#}
                    {#              <li>#}
                    {#                <a class="dropdown-item" href="lyear_pages_edit_pwd.html"#}
                    {#                  href="javascript:void(0)">#}
                    {#                  <i class="mdi mdi-lock-outline"></i>#}
                    {#                  <span>修改密码</span>#}
                    {#                </a>#}
                    {#              </li>#}
                    {#              <li>#}
                    {#                <a class="dropdown-item" href="javascript:void(0)">#}
                    {#                  <i class="mdi mdi-delete"></i>#}
                    {#                  <span>清空缓存</span>#}
                    {#                </a>#}
                    {#              </li>#}
                    {#              <li class="dropdown-divider"></li>#}
                    {#              <li>#}
                    {#                <a class="dropdown-item" href="lyear_pages_login_1.html">#}
                    {#                  <i class="mdi mdi-logout-variant"></i>#}
                    {#                  <span>退出登录</span>#}
                    {#                </a>#}
                    {#              </li>#}
                    {#            </ul>#}
                    {#          </li>#}
                    <!--End 个人头像内容-->
                </ul>

            </nav>

        </header>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">

            <div class="container-fluid">

                <div class="col-lg-12">
                    <div class="card">
                        <header class="card-header">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <div class="card-title">排位赛（单排）信息</div>
                                    </div>

                                    <!-- 位置选择 -->
                                    <div class="col">
                                        <div class="btn-group">
                                            <select class="form-select" id="role-select" name="role">
                                                <option value="">全部位置</option>
                                                <option value="上单"
                                                        {% if selected_role == "上单" %}selected{% endif %}>上单
                                                </option>
                                                <option value="中单"
                                                        {% if selected_role == "中单" %}selected{% endif %}>中单
                                                </option>
                                                <option value="下路"
                                                        {% if selected_role == "下路" %}selected{% endif %}>下路
                                                </option>
                                                <option value="打野"
                                                        {% if selected_role == "打野" %}selected{% endif %}>打野
                                                </option>
                                                <option value="辅助"
                                                        {% if selected_role == "辅助" %}selected{% endif %}>辅助
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- 段位选择 -->
                                    <div class="col">
                                        <div class="btn-group">
                                            <select class="form-select" id="tier-select" name="tier">
                                                <option value="">全部段位</option>
                                                <option value="最强王者"
                                                        {% if selected_tier == "最强王者" %}selected{% endif %}>最强王者
                                                </option>
                                                <option value="傲世宗师"
                                                        {% if selected_tier == "傲世宗师" %}selected{% endif %}>傲世宗师
                                                </option>
                                                <option value="超凡大师"
                                                        {% if selected_tier == "超凡大师" %}selected{% endif %}>超凡大师
                                                </option>
                                                <option value="璀璨钻石"
                                                        {% if selected_tier == "璀璨钻石" %}selected{% endif %}>璀璨钻石
                                                </option>
                                                <option value="流光翡翠"
                                                        {% if selected_tier == "流光翡翠" %}selected{% endif %}>流光翡翠
                                                </option>
                                                <option value="华贵铂金"
                                                        {% if selected_tier == "华贵铂金" %}selected{% endif %}>华贵铂金
                                                </option>
                                                <option value="荣耀黄金"
                                                        {% if selected_tier == "荣耀黄金" %}selected{% endif %}>荣耀黄金
                                                </option>
                                                <option value="不屈白银"
                                                        {% if selected_tier == "不屈白银" %}selected{% endif %}>不屈白银
                                                </option>
                                                <option value="英勇青铜"
                                                        {% if selected_tier == "英勇青铜" %}selected{% endif %}>英勇青铜
                                                </option>
                                                <option value="坚韧黑铁"
                                                        {% if selected_tier == "坚韧黑铁" %}selected{% endif %}>坚韧黑铁
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- 搜索英雄 -->
                                    <div class="col">
                                        <nav class="navbar navbar-light bg-light">
                                            <div class="container-fluid">
                                                <form id="search-form" class="d-flex" role="search" method="GET"
                                                      action="">
                                                    <input class="form-control me-2" type="search"
                                                           placeholder="搜索英雄" aria-label="Search" name="search"
                                                           id="search-input" value="{{ query }}">
                                                    <button class="btn btn-outline-success" type="submit">搜索</button>
                                                </form>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </header>

                        <script>
                            // 监听位置选择和段位选择
                            document.getElementById('role-select').addEventListener('change', submitAllForms);
                            document.getElementById('tier-select').addEventListener('change', submitAllForms);

                            function submitAllForms() {
                                // 获取 role 和 tier 的值
                                const role = document.getElementById('role-select').value;
                                const tier = document.getElementById('tier-select').value;
                                const searchQuery = document.getElementById('search-input').value;

                                // 构造 URL 参数
                                let queryString = '';
                                if (role) {
                                    queryString += 'role=' + encodeURIComponent(role) + '&';
                                }
                                if (tier) {
                                    queryString += 'tier=' + encodeURIComponent(tier) + '&';
                                }
                                if (searchQuery) {
                                    queryString += 'search=' + encodeURIComponent(searchQuery);
                                }

                                // 提交表单
                                window.location.href = '?' + queryString;
                            }
                        </script>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>排位</th>
                                        <th>英雄</th>
                                        <th>强度</th>
                                        <th>位置</th>
                                        <th>胜率</th>
                                        <th>登场率</th>
                                        <th>禁用率</th>
                                        <th>段位</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- 使用Django模板语言遍历ranked_solo_data -->
                                    {% for data in lol_data %}
                                        <tr>
                                            <td>{{ data.id }}</td>
                                            <td>{{ data.hero }}</td>
                                            <td>{{ data.level }}</td>
                                            <td>{{ data.role }}</td>
                                            <td>{{ data.win }}%</td>
                                            <td>{{ data.pick }}%</td>
                                            <td>{{ data.ban }}%</td>
                                            <td>{{ data.tier }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>

                            </div>
                            <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {% if lol_data.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{% if query %}search={{ query }}&{% endif %}{% if selected_tier %}tier={{ selected_tier }}&{% endif %}{% if selected_role %}role={{ selected_role }}&{% endif %}page=1">首页</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?{% if query %}search={{ query }}&{% endif %}{% if selected_tier %}tier={{ selected_tier }}&{% endif %}{% if selected_role %}role={{ selected_role }}&{% endif %}page={{ lol_data.previous_page_number }}">上一页</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link">首页</span>
                                    </li>
                                    <li class="page-item disabled">
                                        <span class="page-link">上一页</span>
                                    </li>
                                {% endif %}

                                <li class="page-item disabled">
                                    <span class="page-link">当前页：{{ lol_data.number }} / {{ lol_data.paginator.num_pages }}</span>
                                </li>

                                {% if lol_data.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{% if query %}search={{ query }}&{% endif %}{% if selected_tier %}tier={{ selected_tier }}&{% endif %}{% if selected_role %}role={{ selected_role }}&{% endif %}page={{ lol_data.next_page_number }}">下一页</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?{% if query %}search={{ query }}&{% endif %}{% if selected_tier %}tier={{ selected_tier }}&{% endif %}{% if selected_role %}role={{ selected_role }}&{% endif %}page={{ lol_data.paginator.num_pages }}">末页</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link">下一页</span>
                                    </li>
                                    <li class="page-item disabled">
                                        <span class="page-link">末页</span>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/perfect-scrollbar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.cookie.min.js' %}"></script>
<!--引入chart插件js-->
<script type="text/javascript" src="{% static 'js/chart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function (e) {
        var $dashChartBarsCnt = jQuery('.js-chartjs-bars')[0].getContext('2d'),
            $dashChartLinesCnt = jQuery('.js-chartjs-lines')[0].getContext('2d');

        new Chart($dashChartBarsCnt, {
            type: 'bar',
            data: $dashChartBarsData
        });

    });
</script>
</body>
</html>
